{{#each this}}

  <h2>
    <img src='{{flag}}' alt='' width='30' />
    {{name}}
  </h2>
  <p>Capital: {{capital}}</p>
  <p>Population: {{population}}</p>

  <p>Languages:
    {{#each this}}{{/each}}
  </p>

{{/each}}